#db configurations

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/electronic_store
    username: username
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

#jpa configurations
  jpa:
    show-sql: true
    properties:
      hibernate:
        format-sql: true
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQL8Dialect

#file-path
image:
  path:
    user: Images/User
    category: Images/Category
    product: Images/Product

jwt:
  secret: 586E3272357538782F4125442A472D4B6150645367566B59703373367639792442264528482B4D6251655468576D5A7134743777217A25432A462D4A404E6352







